/* Debug Rules */

/* body{
} */

/* .jumbo{
    background-color: #1ABC9C;
} */

/* .portfolio {
    height: 300px;
} */

/* .about{
    background-color: ;
} */

.info {
    background-color: #3A546D;
}

.copyright {
    background-color: #2C3E50;
}

/* .dbg_pic {
    background-color: red;
    width: 200px;
    height: 150px;
    margin: 1rem;
} */

/* Utility Rules */

.text-dark{
    color: #333333;
}

.text-green{
    color: #1ABC9C;
}

.bg-green {
    background-color: #1ABC9C;
}

/*Star Divider */

.hrdivider {
    position: relative;
    width: 400px;
    margin: auto;
}
  
.hrdivider span {
    position: absolute;
    top: -18px;
    padding: 0 20px;
    right: calc(50% - 33.5px);
    font-size: 1.5rem;
}

.hrdivider_white span {
    background: #1ABC9C;
}

.hrdivider_black span{
    background: white;
}


.hrdivider_white hr{
    border-top: 3px solid white;
}

.hrdivider_black hr{
    border-top: 3px solid black;
}


/* Jumbo */

.jumbo img{
    width: 250px;
    padding: 3rem 0 1rem 0;
}

.jumbo_subtext {
    font-size:1.5rem;
    padding: 1rem 0 3rem 0;
}

.jumbo h1{
    padding-bottom: 2rem;
}

/* Section Title */

.section_title{
    padding: 4rem 0 1rem 0;
    font-size: 2.5rem;
}

/* Main */

/* Portfolio Section  */
.pic img {
    width: 100%;
    border-radius: 10px;
    padding-top: 2rem;
}

.pic_box{
    padding-bottom: 4rem;
}


/* Form */

/* input, textarea {
    border: none;
    border-bottom: 1px solid #CCCCCC;
} */

.form-control::placeholder {
    color: #2C3E50;
    font-weight: bold;
}

.form-control{
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0px;
    padding: 0 0 20px 0;
}

/* Footer */

/* Info Section */

.foot_title{
    font-size:1.2rem;
    padding-bottom: 10px;
}

/* Icons */

.ico{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

.ico i {
    margin-top: 10px;
}

/* Copyright Section */

.copyright {
    font-size: 0.8rem;
}