
/* Utility Rules */

.bg-blue {
    background-color: #3A546D;
}

.copyright {
    background-color: #2C3E50;
}

.text-dark{
    color: #333333;
}

.text-green{
    color: #1ABC9C;
}

.bg-green {
    background-color: #1ABC9C;
}

/* Nav Bar */

.nav_items ul{
    list-style: none;
    margin-top: 15px;

}

.nav_items ul li {
    display: inline-block;
    padding: 0 1rem;
}

.nav_items ul li a{
    color: white;
    font-weight: bold;
}

/* Hamburger  */

.burger{
    border: 1px solid white;
    border-radius: 3px;
}
/*Star Divider */

.hrdivider {
    position: relative;
    width: 400px;
    margin: auto;
}
  
.hrdivider span {
    position: absolute;
    top: -18px;
    padding: 0 20px;
    right: calc(50% - 33.5px);
    font-size: 1.5rem;
}

.hrdivider_white span {
    background: #1ABC9C;
}

.hrdivider_black span{
    background: white;
}


.hrdivider_white hr{
    border-top: 3px solid white;
}

.hrdivider_black hr{
    border-top: 3px solid black;
}


/* Jumbo */

h1 {
    font-size: 4rem;
}

.jumbo img{
    width: 250px;
    padding: 3rem 0 1rem 0;
}

.jumbo_subtext {
    font-size:1.5rem;
    padding: 1rem 0 3rem 0;
}

.jumbo h1{
    padding-bottom: 2rem;
}

/* Section Title */

.section_title{
    padding: 4rem 0 1rem 0;
    font-size: 2.5rem;
}

/* Main */

/* Portfolio Section  */
.pic img {
    width: 100%;
    border-radius: 10px;
    padding-top: 2rem;
}

.pic_box{
    padding-bottom: 4rem;
}


/* Form */

/* input, textarea {
    border: none;
    border-bottom: 1px solid #CCCCCC;
} */

.form-control::placeholder {
    color: #2C3E50;
    font-weight: bold;
}

.form-control{
    border: none;
    border-bottom: 1px solid #CCCCCC;
    border-radius: 0px;
    padding: 0 0 20px 0;
}

/* Footer */

/* Info Section */

.foot_title{
    font-size:1.2rem;
    padding-bottom: 10px;
}

/* Icons */

.ico{
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
}

.ico i {
    margin-top: 10px;
}

/* Copyright Section */

.copyright {
    font-size: 0.8rem;
}

/* Media Queries */

@media screen and (max-width: 767px) {
    .nav_items {
        display: none;
    }

    .navbar-brand h4 {
        font-size: 1.2rem;
    }

    .jumbo img{
        width: 200px;
        padding: 1rem 0 1rem 0;
    }

    h1 {
        font-size: 2rem;
    }

    .hrdivider {
        width: 200px;
    }

    .jumbo_subtext {
        font-size:1.2rem;
        padding: 1rem 0 1rem 0;
    }

    .section_title{
        padding: 2rem 0 1rem 0;
        font-size: 1.5rem;
    }

    .about_text, form {
        width: 60%;
        margin: auto;
    }

    .foot_title{
        font-size:1rem;
        padding-top: 20px;
        padding-bottom: 5px;
    }

    .inln{
        display: inline-block;
    }
}

@media screen and (min-width:768px) {
    .burger {
        display: none;
    }
}